.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
    body { 
    }

    header { 
      margin: auto;
    }
  
    .navbar {
      margin: auto;
      padding: 30px;
    }

    .navbar, li { 
      list-style-type: none;
    }

    li { 
      padding: 40px;
      text-decoration: none;
      color: grey;
      display: inline-block;
    }

    li a:hover { 
      color: light grey;
    }

    .middle-container { 
      margin-top: 800px;
    }

    .top-container { 
      text-align: left;
      width: 50%;
      max-width: 700px;
      margin-left: 100px;
    }

    .bottom-container { 
      margin-top: 500px;
      text-align: left;
      width: 50%;
      max-width: 700px;
      margin-left: 100px;
    }

    .illustration-img { 
      float: right;
      width: 25%;
      margin-right: 30px;
      min-width: 150px;
      max-width: 215px;
    }