.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
    header { 
      margin-bottom: 100px;
    }
    .navbar {
      float: right;
      padding: 30px;
      font-family: Ralway;
    }
    .navbar, li { 
      list-style-type: none;
      display: inline-block;
    }
    li { 
      padding: 40px;
      text-decoration: none;
      color: grey;
    }

    li a:hover { 
      color: light grey;
    }