.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
    header { 

    }
    .navbar {
      border-bottom: 1px solid black;
    }
    .navbar, li { 
      list-style-type: none;
      display: inline-block;
    }
